body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.album {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
    border-radius: 7px;
    min-height: 200px;
    margin-bottom: 5px;
}

.album img {
    width: 100%;
}

.album p {
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Roboto',arial,sans-serif;
}

.col:not(:first-child), .col:not(:last-child) {
    padding-top: 5px;
    padding-right: 7px;
    padding-left: 7px;
}
