<div class="row" data-ng-controller="ArtistController">
    <div class="col-md-3 col" data-ng-repeat="artist in artists">
        <a href='#/artist/{{artist.Id}}/albums'><img src="http://placehold.it/250x150" /></a>
        <p style="overflow: hidden;">{{artist.Name}}</p>
    </div>
</div>
